@font-face {
  font-family: 'iconfont';  /* project id 1297089 */
  src: url('//at.alicdn.com/t/font_1297089_8sqfvmr6y2c.eot');
  src: url('//at.alicdn.com/t/font_1297089_8sqfvmr6y2c.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1297089_8sqfvmr6y2c.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1297089_8sqfvmr6y2c.woff') format('woff'),
  url('//at.alicdn.com/t/font_1297089_8sqfvmr6y2c.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1297089_8sqfvmr6y2c.svg#iconfont') format('svg');
}

/* dialog start */
.dialog-vbt{z-index:80000;position:fixed;left:0;right:0;bottom:0;top:0;    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;}
.dialog-bg {z-index:1;background:rgba(0,0,0,0.5);position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;}
.dialog-bg, .dialog-content, .dialog-btn{transition: opacity 0.2s, transform 0.2s ease-out;}
.dialog-content{z-index:2;position:relative;background:#fff;opacity:0;transform:translateY(-10%);;box-shadow:0 0 20px rgba(0,0,0,0.2);min-width:300px;max-width:80%;max-height:80%;display:inline-flex;flex-direction:column;}
.dialog-vbt.active .dialog-bg{opacity:1;}
.dialog-vbt.active .dialog-content{transform:translateY(0);opacity:1;border-radius:4px;overflow:hidden;}
.dialog-title{font-size:16px;color:#000;border-bottom:#f2f2f2 solid 1px;padding:8px 10px;cursor:move;background:#fbfbfb;}
.dialog-title *{display:inline-block;vertical-align:middle;}
.dialog-msg-box{padding:10px;font-size:14px;color:#585858;overflow:auto;-webkit-overflow-scrolling:touch;word-break: break-all;line-height: 1.6;}
.dialog-btn-box{padding:0 5px 10px 10px;text-align:right;font-size:0;}
.dialog-btn{font-size:12px;display:inline-block;cursor:pointer;user-select:none;padding:5px 10px;border-radius:4px;margin-right:5px;}
.dialog-btn.confirm{background:rgba(100,150,255,1);color:#fff;}
.dialog-btn.confirm:hover{background:rgba(100,150,255,0.8);}
.dialog-btn.confirm:active{box-shadow:0 0 0 2px rgba(100,150,255,0.2);}
.dialog-btn.cancel{background:#e6e6e6;color:#8c8c8c;}
.dialog-btn.cancel:active{background:#bbbbbb;}
.dialog-vbt .duration{font-size:14px;color:#949494;font-weight:normal;}
.dialog-vbt.group .dialog-bg{background:transparent;}
/* dialog end */



/* 拖拽 start */
.bt-drag{position:absolute !important;z-index:20;margin:0 !important;padding:0 !important;}
.bt-drag-body{position:fixed !important;}
/* 拖拽 end */



/* loading start */
#loading-bt-wrapper{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5);z-index:80001;display:flex;align-items:center;justify-content:center;flex-direction:column;opacity:0;transition:0.2s;}
.loading-bt-text{font-size:14px;color:#fff;}
#loading-bt-wrapper.active{opacity:1;}
.loading-bt-close{position:absolute;right:10px;top:10px;font-size:12px;color:rgba(255,255,255,0.8);cursor:pointer;}
.loading-bt-close:hover{color:#fff;}
/* loading end */



/* pager start */
.bt-pager{font-size:0;user-select: none;}
.bt-pager .inwp, .bt-pager .page{display:inline-block;font-size:12px;background:#000;color:#fff;line-height:24px;text-align:center;cursor:pointer;padding:0 10px;margin:1px;}
.bt-pager .pages{display:inline-block;}
.bt-pager .pages span.active{background:red;}
/* pager end */




.dialog-wrapper-19 .dig-bg{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity: 0;
}

.dialog-wrapper-19 .dig-content{
  visibility: hidden;
  left: 50%;
  top: 50%;
  background: #fff;
  min-width: 300px;
  max-width: 80%;
  display: inline-block;
  opacity: 0;
}

.dialog-wrapper-19.show .dig-bg{
  opacity: 1;
  transition: 0.2s;
}

.dialog-wrapper-19.show .dig-content{
  opacity: 1;
  transition: 0.2s;
}

.dialog-wrapper-19 .dig-top {
  padding: 7px 15px;
  font-size:14px;
  color:#444;
  border-bottom:#f9f9f9 solid 1px;
}
.dialog-wrapper-19 .dig-msg-box {
  font-size:14px;
  padding: 15px;
  color:#999;
  overflow: auto;
  font-weight: normal;
}
.dialog-wrapper-19 .dig-btn-box {
  text-align:right;
  padding: 10px 10px 10px 0;
  border-top:#f9f9f9 solid 1px;
}

.dialog-wrapper-19 .dig-btn-box a{
  display: inline-block;
  font-size: 12px;
  padding: 5px 15px;
  background:#e7e7e7;
  color:#a7a7a7;
  font-weight: normal;
  cursor:pointer;
}
.dialog-wrapper-19 .dig-btn-box a.confirm{
  background:#136b78;
  color:#fff;
  
}

.dig-hide-scroll {
  overflow: hidden;
}