/**
 * 修改 bestime.styl 然后编译成 bestime.css
 * stylus -w ./css/bestime.styl -o ./css/bestime.css
 */



/* 拖拽 start */
.bt-drag{position:absolute !important;z-index:20;margin:0 !important;padding:0 !important;}
.bt-drag-body{position:fixed !important;}
/* 拖拽 end */



/* loading start */
#loading-bt-wrapper{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5);z-index:80001;display:flex;align-items:center;justify-content:center;flex-direction:column;opacity:0;transition:0.3s;}
.loading-bt-text{font-size:14px;color:#fff;}
#loading-bt-wrapper.active{opacity:1;}
.loading-bt-close{position:absolute;right:10px;top:10px;font-size:12px;color:rgba(255,255,255,0.8);cursor:pointer;}
.loading-bt-close:hover{color:#fff;}
/* loading end */



/* pager start */
.bt-pager{font-size:0;user-select: none;}
.bt-pager .inwp, .bt-pager .page{display:inline-block;font-size:12px;background:#000;color:#fff;line-height:24px;text-align:center;cursor:pointer;padding:0 10px;margin:1px;}
.bt-pager .pages{display:inline-block;}
.bt-pager .pages span.active{background:red;}
/* pager end */




.dialog-wrapper-19
  .dig-bg
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background rgba(0,0,0,0.4)
    visibility hidden
    opacity 0
  .dig-content
    visibility hidden
    left 50%
    top 50%
    background #fff
    min-width 300px
    max-width 80%
    display inline-block
    border-radius 5px
    opacity 0
    transform scale(0.5)
    box-shadow 0 0 40px rgba(0,0,0,0.4)
  &.show
    .dig-bg
      opacity: 1;
      transition: 0.3s;
    .dig-content
      opacity: 1;
      transition: 0.3s cubic-bezier(0.245, 0.890, 0.175, 1.210);
      transform: scale(1);
  &.start-close
    .dig-content
      transition 0.3s cubic-bezier(0.850, -1.1, 0.540, 1.650)
    .dig-bg 
      transition 0.3s
  .dig-top
    padding: 30px 15px 12px 15px;
    font-size:16px;
    color:#333;
    text-align center
  .dig-msg-box
    font-size:14px;
    padding: 15px;
    color:#666;
    overflow: auto;
    font-weight: normal;
    word-break: break-all;
    text-align center
  .dig-btn-box 
    text-align right
    font-size 0
    text-align center
    display flex
    border-radius 0 0 5px 5px
    overflow hidden
    border-top #f9f9f9 solid 1px
    user-select none
    margin-top 10px
    a
      flex 1
      display inline-block
      font-size 14px
      padding 16px 0
      text-align center
      font-weight normal
      cursor pointer
      color #666
      transition 0.1s
      &:hover
        background #f9f9f9
      &:active
        background #eee
        border-color #eee
    .close-btn
      border-right #f9f9f9 solid 1px
    .confirm
      color #409eff
      font-weight normal
    
.dig-hide-scroll
  overflow hidden

.bt-notice-wrapper{
  position:fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 10;
  visibility: hidden;
}

.bt-notice-wrapper .bg{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  background:rgba(0,0,0,0.3);
  opacity: 0;
  transition: 0.15s ease-out;
}

.bt-notice-wrapper .main {
  font-size: 14px;
  background:rgba(255, 255, 255, 1);
  position:absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: 10px;
  opacity: 0;
  transition: 0.15s ease-out;
  transform: translateY(100%);
  border-radius: 5px;
}

.bt-notice-wrapper.ready-show{
  visibility: visible;
}


.bt-notice-wrapper.ready-show .main {
  opacity: 1;
  transform: translateY(0);
}

.bt-notice-wrapper.ready-show .bg {
  opacity: 1;
}





#bt-mouse-tip {
  position:fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  height: auto;
  background:#000;
  border-radius: 4px;
  color:#fff;
  font-size: 0;
  opacity: 0;
  z-index: -1;
  text-align:justify;
  transition: opacity 0.2s;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#bt-mouse-tip .after {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border-width: 6px;
  border-color: #000;
  border-style: dashed;
  border-top-width: 0;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  display: inline-block;
  position:absolute;
  top: -4px;
  display: none;  
}


#bt-mouse-tip.bottom .after{
  display: block;
}

#bt-mouse-tip .before {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border-width: 6px;
  border-color: #000;
  border-style: dashed;
  border-bottom-width: 0;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  display: inline-block;
  position:absolute;
  bottom: -4px;
  display: none;
}

#bt-mouse-tip.top .before{
  display: block;
}
.btmt-content {
  padding: 7px 10px;
  font-size: 12px;
  display: inline-block;
}
#bt-mouse-tip.active {
  opacity: 1;
  z-index: 9999;
  
}
#bt-mouse-tip.custom {
  border-radius: 0;
}
#bt-mouse-tip.custom .btmt-content {
  padding: 0;
  border-radius: 0;
}


.jcy-toast
  height 0
  width 0
  .bg, .content
    position fixed
    margin 0
    padding 0
    opacity 0
    transition 0.2s
    z-index 999999999999
  .bg
    left 0
    top 0
    bottom 0
    right 0
    background rgba(0,0,0,0)
  .content
    background rgba(0,0,0,0.7)
    color #fff
    font-size 14px
    left 50%
    top 50%
    transform translate3d(-50%, -50%, 0)
    line-height 20px
    padding 8px 12px
    word-break break-all
    border-radius 7px
    max-width 80%
    max-height 80%
    display flex
    align-items center
    justify-content center
    overflow auto
    flex-direction column
  .ld-wrapper
    text-align center
    padding 5px 0
  &.loading
    .content
      min-width 120px
      min-height 120px
    .ld-wrapper
      margin-bottom 10px
  &.hidden
    .content, .bg
      visibility hidden
  &.open
    .content
      visibility visible
      opacity 1
    .bg
      opacity 1
  &.mask
    .bg
      visibility visible



















/** loading-start **/
@keyframes jcy-rotate
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

.jcy-loading 
  position relative
  color #fff
  font-size 0
  vertical-align middle
  display inline-block

.jcy-loading__spinner
  position relative
  display inline-block
  width 40px
  height 40px
  max-width 100%
  max-height 100%
  vertical-align middle
  animation jcy-rotate 0.8s linear infinite

.jcy-loading__circular
  display block
  width 100%
  height 100%

.jcy-loading__circular circle
  animation jcy-circular 1.5s ease-in-out infinite
  stroke currentColor
  stroke-width 3
  stroke-linecap round
.jcy-loading--vertical
  display flex
  flex-direction column
  align-items center
@keyframes jcy-circular
  0%
    stroke-dasharray 1, 200
    stroke-dashoffset  0
  50%
    stroke-dasharray 90, 150
    stroke-dashoffset -40
  100%
    stroke-dasharray 90, 150
    stroke-dashoffset -120
/** loading-end **/



.jcy-pc-scroll, 
.jcy-pc-scroll-main
  margin 0
  border none
  padding 0
.jcy-pc-scroll
  position relative
  overflow hidden
  ::-webkit-scrollbar
    width 17px
    height 17px
  ::-webkit-scrollbar-thumb
    background #000
  &.fade
    .jcy-pc-scroll-bar-wrapper
      opacity 0
    &.in
      .jcy-pc-scroll-bar-wrapper
        opacity 1
  &.show
    .jcy-pc-scroll-bar-wrapper
      visibility visible
.jcy-pc-scroll-main
  overflow scroll
  overflow-x hidden
  position relative
  margin-right -17px
  height 100%
  // background red
  // padding-bottom 17px
.jcy-pc-scroll-bar-wrapper
  visibility hidden
  position absolute
  right 2px
  top 0
  bottom 0
  width 6px
  user-select none
  transition 0.2s
.jcy-pc-scroll-bar-inner
  position absolute
  right 0
  left 0
  cursor pointer
  border-radius 8px
  transition opacity 0.15s,background 0.15s
  box-shadow 0 0 0 1px rgba(255,255,255,0.5)
  background rgba(0,0,0,0.2)
  &:hover
    background rgba(0,0,0,0.5)
  &:active
    background rgba(0,0,0,0.8)
  
  

