
/* 拖拽 start */
.bt-drag{position:absolute !important;z-index:20;margin:0 !important;padding:0 !important;}
.bt-drag-body{position:fixed !important;}
/* 拖拽 end */



/* loading start */
#loading-bt-wrapper{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5);z-index:80001;display:flex;align-items:center;justify-content:center;flex-direction:column;opacity:0;transition:0.3s;}
.loading-bt-text{font-size:14px;color:#fff;}
#loading-bt-wrapper.active{opacity:1;}
.loading-bt-close{position:absolute;right:10px;top:10px;font-size:12px;color:rgba(255,255,255,0.8);cursor:pointer;}
.loading-bt-close:hover{color:#fff;}
/* loading end */



/* pager start */
.bt-pager{font-size:0;user-select: none;}
.bt-pager .inwp, .bt-pager .page{display:inline-block;font-size:12px;background:#000;color:#fff;line-height:24px;text-align:center;cursor:pointer;padding:0 10px;margin:1px;}
.bt-pager .pages{display:inline-block;}
.bt-pager .pages span.active{background:red;}
/* pager end */




.dialog-wrapper-19 .dig-bg{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-opacity: 0;
}

.dialog-wrapper-19 .dig-content{
  visibility: hidden;
  left: 50%;
  top: 50%;
  background: #fff;
  min-width: 300px;
  max-width: 80%;
  display: inline-block;
  opacity: 0;
  -webkit-opacity: 0;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  box-shadow: 0 0 80px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 80px rgba(0,0,0,0.3);
}

.dialog-wrapper-19.show .dig-bg{
  opacity: 1;
  -webkit-opacity: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.dialog-wrapper-19.show .dig-content{
  opacity: 1;
  -webkit-opacity: 1;
  transition: 0.3s cubic-bezier(0.245, 0.890, 0.175, 1.210);
  -webkit-transition: 0.3s cubic-bezier(0.245, 0.890, 0.175, 1.210);
  transform: scale(1);
  -webkit-transform: scale(1);
}

.dialog-wrapper-19.start-close .dig-content {
  transition: 0.3s cubic-bezier(0.850, -1.1, 0.540, 1.650);
  -webkit-transition: 0.3s cubic-bezier(0.850, -1.1, 0.540, 1.650);
}

.dialog-wrapper-19.start-close .dig-bg {
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.dialog-wrapper-19 .dig-top {
  padding: 12px 15px;
  font-size:14px;
  color:#444;
  border-bottom:#f9f9f9 solid 1px;
}
.dialog-wrapper-19 .dig-msg-box {
  font-size:14px;
  padding: 15px;
  color:#999;
  overflow: auto;
  font-weight: normal;
  word-break: break-all;
}
.dialog-wrapper-19 .dig-btn-box {
  text-align:right;
  padding: 10px 10px 10px 0;
  border-top:#f9f9f9 solid 1px;
  font-size: 0;
}

.dialog-wrapper-19 .dig-btn-box a{
  display: inline-block;
  font-size: 12px;
  padding: 5px 15px;
  background:#e7e7e7;
  color:#a7a7a7;
  font-weight: normal;
  cursor:pointer;
  margin-left: 10px;
}
.dialog-wrapper-19 .dig-btn-box a.confirm{
  background:#136b78;
  color:#fff;
  
}

.dig-hide-scroll {
  overflow: hidden;
}