<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>表格导出</title>
  <link rel="stylesheet" href="./element-ui.css">
  <!-- import Vue before Element -->
  <script src="./vue.js"></script>
  <!-- import JavaScript -->
  <script src="./elemetn-ui.js"></script>

  <script src="../../base/dist/umd/index.min.cjs"></script>
  

  <script>
    document.write(`<script src="../dist/umd/index.min.cjs?t=${new Date().getTime()}"><\/script>`)
    var resp = {
      "header": [
        {
          "title": "姓名",
          "field": "data_01"
        },
        {
          "title": "年龄",
          "field": "data_02",
          children: [
            {
              "title": "中年",
              "field": "djkljckl",
              children: [
                {
                  "title": "什么",
                  "field": "djkdw",
                }
              ]
            },
            {
              "title": "老年",
              "field": "cfiowl",
            },
          ]
        },
        {
          "title": "科目",
          "field": "data_03"
        },
        {
          "title": "合计",
          "field": "p_1",
          "children": [
            {
              "title": "数量",
              "field": "44444",
              children: [
                {
                  "title": "a",
                  "field": "data_04"
                },
                {
                  "title": "b",
                  "field": "bbbbb",
                  children: [
                    {
                      "title": "c",
                      "field": "qqqqqqqqc78w4qq"
                    },
                    {
                      "title": "d",
                      "field": "wwwwwc4ww",
                      children: [
                        {
                          "title": "进出口",
                          "field": "mv54548w",
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "title": "占比",
              "field": "data_05"
            },
            {
              "title": "增长率",
              "field": "jkjdlks",
              "children": [
                {
                  "title": "下标题",
                  "field": "data_06"
                },
                {
                  "title": "上标题",
                  "field": "data_07",
                }
              ]
            }
          ]
        },
        {
          "title": "综合",
          "field": "data_08"
        }
      ],
      "body": [
        {
          "data_01":"张三",
          "data_02":"小三子",
          "data_03":"数学",
          "data_04":"1",
          "data_05":"2",
          "data_06":"3",
          "data_07":"4",
          "data_08":"5"
        },
        {
          "data_01":"张三",
          "data_02":"别名",
          "data_03":"英语",
          "data_04":"a",
          "data_05":"b",
          "data_06":"c",
          "data_07":"d",
          "data_08":"e"
        },
        {
          "data_01":"里斯",
          "data_02":"里斯",
          "data_03":"语文",
          "data_04":"7",
          "data_05":"8",
          "data_06":"9",
          "data_07":"10",
          "data_08":"11"
        }
      ]
    }
  </script>
  
</head>
<body>
  <div id="app">
    <el-table :data="tableData" style="width: 100%">
      <deep-header v-for="item in headerList" :key="item.field" :item="item"></deep-header>
    </el-table>
    
  </div>
  <div id="test-table"></div>
  <script>
    
    Vue.component('deep-header', {
      
      props: {
        item: {
          type:Object,
          default: function () {
            return []
          }
        }
      },
      mounted () {
        // console.log("来了", this.data)
      },
      template: `
        <el-table-column :prop="item.field" :label="item.title" :key="item.field">
          
          <deep-header :key="cd.field" :item="cd" v-for="cd in item.children" v-if="item.children"></deep-header>
        </el-table-column>
      `
    })

    const uHeader = jUtilsBase.parseTreeToTableHeader(resp.header)
    // console.log("uHeader", uHeader.data)
    const app = new Vue({
      el: '#app',
      data() {
        return {
          headerList: resp.header,
          tableData: resp.body
        };
      },
      methods: {
        
      }
    });
    
    
    
    


    jUtilsBrowser.createXLSX({
      pluginUrl: 'https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js',
      header: resp.header,
      body: resp.body
    }).then(function (tabledom) {
      console.log("tabledom", tabledom)
      document.getElementById('test-table').appendChild(tabledom)
    })
    
  </script>
</body>
</html>